@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #ffffff;
  background: #e4e7e7;
}
input {
  outline: none;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

//table

.table-wrapper {
  overflow-x: auto;
  border-radius: 8px;
  min-height: 350px;
  overflow-y: scroll;
}

.table-wrapper table {
  color: #000;
  width: 100%;
  height: 100%;
}
.table-wrapper thead {
  font-size: 14px;
  padding-bottom: 10px;
  background: #f4f6f8;
}

.table-wrapper tbody {
  background-color: white;
  min-height: 500px;
  height: 100%;
}

.table-wrapper td {
  padding: 15px 20px;
  font-size: 13px;
}

.table-wrapper th {
  font-weight: 700;
  text-align: left;
  color: #585858;
  padding: 14px;
  font-size: 15px;
}

.table-wrapper th,
.table-wrapper td {
  vertical-align: middle;
}

.table-wrapper::-webkit-scrollbar {
  width: 8px;
  background-color: #7878781a;
}
.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #bbbbbbb8;
  border-radius: 5px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #bbbbbb;
}
.table-wrapper tbody tr {
  box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
}

//product
.list-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  height: calc(100% - 90px);
  padding: 0 20px 20px;
  overflow: auto;
}
.product-item {
  padding: 0 10px;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;
}

.product-info {
  margin-top: 8px;
}
.product-info .name {
  max-width: 100px;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-info .price {
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  white-space: nowrap;
}

// header
.tabCart::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #7878781a;
}
.tabCart::-webkit-scrollbar-thumb {
  background-color: #bbbbbbb8;
  border-radius: 5px;
}
.tabCart::-webkit-scrollbar-thumb:hover {
  background-color: #bbbbbb;
}

// react-select
.react-select {
  width: 100%;
}
.react-select__control,
.select-small__control {
  min-height: 34px;
  min-height: unset;
  border: none !important;
  border-radius: 0;
  background-color: transparent;
  &.dont-line {
    border-bottom: none;
  }

  .react-select__value-container {
    padding: 2px 8px;
    min-height: 34px;
    min-width: 170px;
    .react-select__single-value {
      // font-weight: 600;;
      color: #252631;
    }
  }

  .react-select__placeholder {
    font-size: unset !important;
  }

  .react-select__input {
    > input {
      height: unset;
    }
  }

  .react-select__indicator-separator {
    display: none;
  }

  &.react-select__control--is-focused,
  &.select-small__control--is-focused {
    outline: none;
    border: none;
    box-shadow: none;
    border: 1px solid transparent !important;
  }

  &:hover {
    // border: none;
    border: 1px solid transparent !important;
  }
  &:focus {
    border: 1px solid transparent !important;
  }
  &:active {
    border: 1px solid transparent !important;
  }
}

//searchResult

.searchResult {
  position: absolute;
  top: 45px;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #000;
}
